---
title: Terms of Service
---

<section class='terms'>
  <div class="container">

    <div class="col-8 offset-2">
      <h2>Terms of Service</h2>
      <hr>
      <p>
      <i>Last updated 24th April 2020</i>
      </p>

      <p>This Terms of Use document ("Terms") is an agreement you must accept in order to use <%= data.site.name.upcase %>'s Services (as defined below). Please review the Terms carefully because they govern your use of our website located at <a href="<%= data.site.url %>"><%= data.site.url %></a> and its subdomains (collectively, the "<strong>Site</strong>"), our API located at <a href="<%= data.site.api_url %>"><%= data.site.api_url %></a> (the "<strong>Platform</strong>"), and associated services related to your use of <%= data.site.name.upcase %> via the Dashboard <a href="<%= data.site.dashboard_url %>"><%= data.site.dashboard_url %></a> (the "<strong>Dashboard</strong>"), collectively called the "<strong>Services</strong>". The services are provided by the company Frers Ltd.</p>
      <p>The "<strong>Services</strong>" do not include any software application or service that is provided by you or a third party, which you use in connection with the Services, whether or not <%= data.site.name.upcase %> designates them as "official integrations".</p>
      <p>Any modifications and new features added to the Services are also subject to these Terms. <%= data.site.name.upcase %> reserves the right to modify or discontinue the Services (or any Service plan) or any feature or functionality thereof at any time without notice to you. All rights, title and interest in and to the Services and their components (including all intellectual property rights) will remain with and belong exclusively to <%= data.site.name.upcase %>.</p>
      <p>If you do not agree to be bound by these Terms, then, except as otherwise provided in Section 16 you may not use the Services.</p>
      <p>PLEASE NOTE that when you agree to these terms you are agreeing (with limited exception) to resolve any dispute between you and <%= data.site.name.upcase %> through binding, individual arbitration rather than in court. Please review carefully Section 16 "Dispute Resolution" below for details regarding arbitration (including the procedure to opt out of arbitration).</p>

      <ol>
        <li>Agreement and Changes to Terms
          <ol>
            <li>
              Agreement to Terms<br>
              <br>
              These terms are a binding legal commitment between you and <%= data.site.name.upcase %>, so please read them carefully. If you are accessing and using the Services on behalf of a company (such as your employer) or other legal entity, you represent and warrant that you have the authority to bind that company or other legal entity to these Terms. In that case, “you” and “your” will refer to that company or other legal entity. If you do not agree to be bound by these terms, you may not use the Services.
            </li>
            <li>
              Changes to Terms or Services <br>
              <br>
              We may modify or update the Terms and Services at any time, in our sole discretion. If we revise these Terms or make changes to the Services that we believe may significantly impact your use of the Services, we’ll let you know through the Dashboard or via an e-mail to the email address owner of your Account. If you continue to use the Services after we have communicated the modified Terms you, you are indicating to us that you agree to be bound by the modified Terms. If you do not agree to be bound by the modified Terms, then you may not use the Services anymore. Because our Services are evolving over time we may change or discontinue all or any part of the Services, at any time and without notice, at our sole discretion.
            </li>
          </ol>
        </li>

        <li>
          Privacy Policy <br>
          <br>
          Please refer to our Privacy Policy <a href="<%= data.site.url + data.site.privacy_path %>"><%= data.site.url + data.site.privacy_path %></a> for information on how we collect, use and disclose information from our users. You acknowledge and agree that your use of the Services is subject to our Privacy Policy.
        </li>

        <li>
          Your Account
          <ol>
            <li>
              Eligibility <br>
              <br>
              You may use the Services only if you are 18 years or older and capable of forming a binding contract with <%= data.site.name.upcase %> and are not barred from using the Services under applicable law.
            </li>
            <li>
              Registration and Your Information <br>
              <br>
              You must create an account ("<strong>Account</strong>") using the Dashboard to build your application on the Platform and otherwise use our Services (except for generally visiting and interacting with our Site). You agree to provide us with accurate and complete information for your Account and to update such information, as needed, to keep it accurate, complete and up-to-date. If you do not we may prevent you from receiving future updates, and/or suspend or terminate your Account. You agree that you won’t disclose your Account password to anyone and you’ll notify us immediately of any unauthorized use of your Account. You agree that you are responsible for all activities that occur under your Account, including the activities of your Authorized Users (as defined below), whether or not you know about them.
            </li>
          </ol>
        </li>

        <li>
          Access and Use of the Services
          <ol>
            <li>
              You may access and use the Services only for lawful,authorized purposes and you shall not misuse the Service in any manner (as determined by Frers Ltd. in its sole discretion). You shall comply with any codes of conduct, policies, storage limitations, or other notices Frers Ltd. provides you or publishes in connection with the Services from time to time, but if any of those policies materially change the Terms, we will provide you with reasonable notice. You shall promptly notify <%= data.site.name.upcase %> if you learn of a security breach related to the Service.
            </li>
            <li>
              Any software that may be made available by or on behalf of <%= data.site.name.upcase %> in connection with the Services ("Software") contains proprietary and confidential information that is protected by applicable intellectual property and other laws. Subject to the terms and conditions of these Terms, <%= data.site.name.upcase %> only grants you a personal, non-sublicensable and non-exclusive license to use the object code of any Software solely in connection with the Service. Any rights not expressly granted herein are reserved.
            </li>
            <li> 
              Integration Provider Requirements <br>
              <br>
              You agree to fully comply with requirements set out by the third-party service providers, such as the Google Restricted Scope API to connect Gmail Integrations, as required by them, and complete security assessments if necessary. 
            </li>
            <li>
              Your Data <br>
              <br>
              "Your Data" means any data and content you enter in the Dashboard, upload, post, transmit or otherwise made available via the Services (which may include data you elect to import from Non-<%= data.site.name.upcase %> Products you use).i  <br>
              <%= data.site.name.upcase %> will make commercially reasonable efforts to ensure that all facilities used to store and process Your Data meet a high standard for security.
              
              <ol>
                 <li>
                   In order for us to provide the Services to you, we require that you grant us certain rights with respect to Your Data. For example, we need to be able to transmit, store and copy Your Data in order to display it to you, to make backups to prevent data loss, and so on. Your acceptance of these Terms gives us the permission to do so and grants us any such rights necessary to provide the service to you, only for the purpose of providing the service (and for no other purpose). This permission includes allowing us to use third-party service providers (such as Heroku, Amazon Web Services) in the operation and administration of the Service and the rights granted to us are extended to these third parties to the degree necessary in order for the Service to be provided.
                 </li>
                 <li>
                   If any users send us any feedback or suggestions regarding the Service, you grant <%= data.site.name.upcase %> an unlimited, irrevocable, perpetual, free license to use any such feedback or suggestions for any purpose without any obligation to you.
                 </li>
                 <li>
                   You are solely responsible for your conduct (including by and between all users), the content of Your Data, and all communications with others via using the Services. We may choose to review Public Content (such as information provided in support forums) for compliance with our policies and guidelines, but you acknowledge that <%= data.site.name.upcase %> has no obligation to monitor any information on the Services. However, <%= data.site.name.upcase %> may remove or disable any Public Content at any time for any reason or for no reason at all. We are not responsible for the accuracy, appropriateness, or legality of Your Data or any other information you and your users may be able to access using the Services. The Services provide features that allow you and your users to share Your Data and other materials with others or to make it public. Please consider carefully what you allow to be shared or made public.
                 </li>
              </ol>
            </li>

            <li>
              Services License Grant <br>
              <br>
              Subject to your compliance with these Terms, <%= data.site.name.upcase %> grants you a limited, non-exclusive, non-transferable, non-sublicensable license to access and use the Platform and Dashboard (including any related written documentation that may be provided to you by <%= data.site.name.upcase %> during the term of these Terms (“Documentation”) solely for the following purposes:

              <ol>
                <li>
                  to develop your software applications that interface with the Services (“Customer Application”), solely for your internal business purposes in accordance with the service plan for which you have registered and paid all applicable fees (as further described in Section 6; and
                </li>
                <li>                 
                  to make the Services available to Authorized Users (as defined below) via your Customer Application in accordance with the Documentation and these Terms.
                </li>
              </ol>
            </li>

            <li>                 
              License Restrictions <br>
              <br>
              You may not allow access to or use of the Services by anyone other than individuals whom you have authorized through the methods permitted by <%= data.site.name.upcase %> (e.g., by assigning unique login credentials to each such individual) to use the Services solely on your behalf and for whom all applicable fees have been paid. Such individuals are referred to in these Terms as “Authorized Users,” and may include but are not limited to your employees, consultants, contractors, and agents. <br><br>
              You may not copy any portion of the Platform, except for making a reasonable number of copies for backup or archival purposes. Except as expressly permitted in these Terms, you may not: (i) copy, modify or create derivative works based on the Platform; (ii) distribute, transfer, sublicense, lease, lend or rent the Platform to any third party; (iii) reverse engineer, decompile or disassemble the Platform; or (iv) make the functionality of the Platform available to anyone other than your Authorized Users except with our express written permission. <%= data.site.name.upcase %> reserves all rights in and to the Services not expressly granted to you under these Terms.
            </li>
          </ol>
        </li>

        <li>
          Customer Data <br>
          <br>
          You acknowledge that you have read our Privacy Policy and understand that it sets forth how we will collect, store, and use your Customer Data (as defined therein). If you do not agree with our Privacy Policy, then you must stop using the <%= data.site.name.upcase %> Services immediately. <br> <br>
          You instruct us to use and disclose User Content (as defined below) and Customer Data as necessary to (a) provide the Services consistent with the Privacy Policy and this section of the Terms, including detecting, preventing, and investigating security incidents, fraud, spam, or unauthorized use of the Services; (b) respond to any technical problems or queries (by you or your Authorized Users) and ensure the proper working of the Services; (c) to protect ourselves, our other customers, the public from harm or illegal activities, or the Services; (d) to respond to an emergency which we believe in, good faith, requires us to disclose Customer Data or User Content to assist in preventing a death or serious bodily injury; or (e) comply with any applicable Law, regulation, legal process or government request.
        </li>

        <li>
          Payment

          <ol>
            <li>To the extent you use a Service plan that is made available for a fee, you will be required to select a payment plan and provide accurate information regarding your credit card or other payment instrument. You will promptly update your account information with any changes in your payment information. You agree to pay <%= data.site.name.upcase %> in accordance with the terms set forth on the Site and these Terms, and you authorize <%= data.site.name.upcase %> or its third-party payment processors to bill your payment instrument in advance on a periodic basis in accordance with such terms.</li>
            <li>If you dispute any charges you must let <%= data.site.name.upcase %> know within sixty (60) days after the date that <%= data.site.name.upcase %> invoices you. All amounts paid are non-refundable and we reserve the right to change our prices in the future. If we increase our prices for your Service plan, we will provide notice of the change on the Site and in email to you at least 30 days before the change is to take effect. Your continued use of the Service after the price change goes into effect constitutes your agreement to pay the changed amount. <%= data.site.name.upcase %> may choose to bill you through an invoice, in which case, full payment for invoices issued must be received by the date specified in the invoice. Past due fees are subject to a finance charge of 1.5% per month on any outstanding balance, or the maximum permitted by law, whichever is lower, plus all expenses of collection. You shall be responsible for all taxes associated with Services other than taxes based on <%= data.site.name.upcase %>’s net income.</li>
            <li>
              Pricing <br>
              <br>
              Our current service plan pricing is available at <a href="<%= data.site.url + data.site.pricing_path %>"><%= data.site.url + data.site.pricing_path %></a> ("<strong>Standard Pricing</strong>").
            </li>
            <li>
              Free Trials <br>
              <br>
              We may offer a free trial during which you may use the Services up to a certain number of API requests (or other such criteria) without payment for the usage extent specified on the Site when you sign up. Free trials are only available to new users when they complete registration and create an Account. Unless you cancel your free subscription prior to the end of your free trial we (or our third party payment processor) will begin charging you the applicable service plan fee until you cancel your service plan. You will not receive a notice from us that your free trial has ended or that your service plan has begun. We reserve the right to modify or terminate free trials at any time, without notice and in our sole discretion.
            </li>
          </ol>
        </li>

        <li>
          Acceptable Use Policy <br>
          <br>
          Without limiting any other terms of these Terms, you must use the Services exclusively for authorized and legal purposes, consistent with all applicable laws, regulations and the rights of others. You will keep confidential and not disclose to any third parties any user identifications, or Account information. You acknowledge that the Services are not designed, intended or authorized for use in hazardous or mission-critical circumstances or for uses requiring fail-safe performance, or where failure could lead to death, personal injury or environmental damage. You acknowledge that our system is not designed for transaction processing or other commerce-related activities. You agree not to use the Service for such purposes or under such circumstances. The Service is not intended for use by persons under the age of 18. You must ensure that each of your Authorized Users is aware of and complies with the requirements and restrictions set forth in this paragraph. <br>
          <br>
          You are responsible for all activities that occur under your account (or any of your Authorized Users’ accounts), and for Authorized Users’ compliance with these Terms. You agree that these Terms are concluded between you and <%= data.site.name.upcase %>, and not between <%= data.site.name.upcase %> and your Authorized Users. You agree to (a) have sole responsibility for the accuracy, quality, integrity, legality, reliability, and appropriateness of all User Content (as defined below) and Customer Data that you (or any of your Authorized Users) input into or store using the Services; (b) use commercially reasonable efforts to prevent unauthorized access to, or use of, the Services, and notify <%= data.site.name.upcase %> promptly of any such unauthorized access or use; and (c) comply with all applicable local, state, federal and foreign laws in using the Services. <br>
        </li>        

        <li>
          Content Ownership, Responsibility, and Removal

          <ol>
            <li>
              Definition <br>
              <br>
              For purposes of these Terms: 

              <ol>
                <li>“Content” means text, graphics, images, music, software, audio, video, works of authorship of any kind, and information or other materials that are posted, generated, provided or otherwise made available through the Services by <%= data.site.name.upcase %>; and </li>
                <li>“User Content” means any Content that users (including you and your Authorized Users) provide to be made available through the Services except for Customer Data. Content includes, without limitation, User Content  — but Customer Data (as discussed further in our Privacy Policy) is not included in User Content. Examples of User Content include but are not limited to forum posts on our Site and communications made using the Services that are visible to other customers or Authorized Users.</li>
              </ol>
            </li>

            <li>
              Rights in Customer Data and User Content Granted by You <br>
              <br>
              <%= data.site.name.upcase %> does not claim any ownership rights in any Customer Data or User Content and nothing in these Terms will be deemed to restrict any rights that you may have to use and exploit either. <br>
              Subject to and without limiting Section 5 above, you hereby grant to <%= data.site.name.upcase %> a non-exclusive, transferable, sublicensable, worldwide, royalty-free license to use, copy, modify, create derivative work, publicly display, publicly perform and distribute your Customer Data and User Content , solely as needed to operate and provide the Services to you and with respect to Customer Data as otherwise specified in our Privacy Policy. <br>
              <br>
              You are solely responsible for all your User Content and Customer Data. You represent and warrant that you have all rights and consents, and will obtain all rights and consents, with respect to all of your User Content and Customer Data to the extent necessary (i) for you and <%= data.site.name.upcase %> to comply with all applicable laws, rules and regulations including, without limitation, all applicable data protection and privacy laws; and (ii) for you to grant us the license rights in your User Content and Customer Data under these Terms. You also represent and warrant that neither your User Content, your Customer Data, nor your use and provision of your User Content or Customer Data to be made available through the Services, nor any use of your User Content or Customer Data by <%= data.site.name.upcase %> on or through the Services will infringe, misappropriate or violate a third party’s intellectual property rights, or rights of publicity or privacy, or result in the violation of any applicable law or regulation. <br>
              <br>
              You can remove your User Content and Customer Data by specifically deleting it or requesting that <%= data.site.name.upcase %> delete it in accordance with our Privacy Policy. <br>
            </li>

            <li>
              Rights in Content Granted by <%= data.site.name.upcase %>  <br>
              <br>
              Subject to your compliance with these Terms, and except as otherwise licensed to you in accordance with Section 4.2 above, <%= data.site.name.upcase %> grants you a limited, non-exclusive, non-transferable, non-sublicensable license to access and download, view, copy, display and print the Content solely for your internal purposes and solely in connection with your permitted use of the Services.
            </li>
          </ol>
        </li>

        <li>
          General Prohibitions and <%= data.site.name.upcase %>’s Enforcement Rights <br>
          <br>
          Without limiting any other terms of these Terms, you agree not to do any of the following:

          <ol>
            <li>Post, upload, publish, submit or transmit any Content that: (i) infringes, misappropriates or violates a third party’s patent, copyright, trademark, trade secret, moral rights or other intellectual property rights, or rights of publicity or privacy; (ii) violates, or encourages any conduct that would violate, any applicable law or regulation or would give rise to civil liability; (iii) is fraudulent, false, misleading or deceptive; (iv) is defamatory, obscene, pornographic, vulgar or offensive; (v) promotes discrimination, bigotry, racism, hatred, harassment or harm against any individual or group; (vi) is violent or threatening or promotes violence or actions that are threatening to any person or entity; or (vii) promotes illegal or harmful activities or substances. </li>
            <li>Use, display, mirror or frame the Services or any individual element within the Services, <%= data.site.name.upcase %>’s name, any <%= data.site.name.upcase %> trademark, logo or other proprietary information, or the layout and design of any page or form contained on a page, without <%= data.site.name.upcase %>’s express written consent;</li>
            <li>Access, tamper with, or use non-public areas of the Services, <%= data.site.name.upcase %>’s computer systems, or the technical delivery systems of <%= data.site.name.upcase %>’s providers;</li>
            <li>Attempt to probe, scan or test the vulnerability of any <%= data.site.name.upcase %> system or network or breach any security or authentication measures;</li>
            <li>Avoid, bypass, remove, deactivate, impair, descramble or otherwise circumvent any technological measure implemented by <%= data.site.name.upcase %> or any of <%= data.site.name.upcase %>’s providers or any other third party (including another user) to protect the Services or Content;</li>
            <li>Attempt to access or search the Services or Content or download Content from the Services through the use of any engine, software, tool, agent, device or mechanism (including spiders, robots, crawlers, data mining tools or the like) other than the software and/or search agents provided by <%= data.site.name.upcase %> or other generally available third-party web browsers;</li>
            <li>Send any unsolicited or unauthorized advertising, promotional materials, email, junk mail, spam, chain letters or other form of solicitation;</li>
            <li>Use any meta tags or other hidden text or metadata utilizing a <%= data.site.name.upcase %> trademark, logo URL or product name without <%= data.site.name.upcase %>’s express written consent;</li>
            <li>Use the Services or Content, or any portion thereof, for any commercial purpose or for the benefit of any third party or in any manner not permitted by these Terms;</li>
            <li>Forge any TCP/IP packet header or any part of the header information in any email or newsgroup posting, or in any way use the Services or Content to send altered, deceptive or false source-identifying information;</li>
            <li>Attempt to decipher, decompile, disassemble or reverse engineer any of the software used to provide the Services or Content;</li>
            <li>Interfere with, or attempt to interfere with, the access of any user, host or network, including, without limitation, sending a virus, overloading, flooding, spamming, or mail-bombing the Services;</li>
            <li>Collect or store any personally identifiable information from the Services from other users of the Services without their express permission;</li>
            <li>Impersonate or misrepresent your affiliation with any person or entity;</li>
            <li>Violate any applicable law or regulation; or</li>
            <li>Encourage or enable any other individual to do any of the foregoing.</li>
          </ol>
        </li>

        <li>Although we’re not obligated to monitor access to or use of the Services or Content or to review or edit any Content, we have the right to do so for the purpose of operating the Services, to ensure compliance with these Terms, and to comply with applicable law or other legal requirements. We reserve the right, but are not obligated, to remove or disable access to any Content, at any time and without notice, including, but not limited to, if we, at our sole discretion, consider any Content to be objectionable or in violation of these Terms. We have the right to investigate violations of these Terms or conduct that affects the Services. We may also consult and cooperate with law enforcement authorities to prosecute users who violate the law.  </li>

        <li>
          Copyright Policy <br>
          <br>
          <%= data.site.name.upcase %> respects copyright law and expects its users to do the same. It is <%= data.site.name.upcase %>’s policy to terminate in appropriate circumstances Account holders who repeatedly infringe the rights of copyright holders. 
        </li>

        <li>
          Disclaimer of Warranties.
          <ol>
            <li>The Services may be temporarily unavailable for scheduled maintenance or for unscheduled emergency maintenance, or because of other causes beyond our reasonable control, but <%= data.site.name.upcase %> shall use reasonable efforts to provide advance notice of any material scheduled service disruption. Further, you understand that Your Data may be transmitted or handled in an unencrypted manner if you choose to use unencrypted gateways to connect to the Service. Additionally, while <%= data.site.name.upcase %> takes steps to ensure that information provided to its third party vendors and hosting partners is transmitted using reasonable security measures, it does not guarantee that these transmissions will be encrypted. Accordingly, you acknowledge that you bear sole responsibility for adequate security, protection and backup of Your Data. <%= data.site.name.upcase %> will have no liability to you for any unauthorized access or use of any of Your Data, or any corruption, deletion, destruction or loss of any of Your Data.</li>
            <li>THE SERVICE AND ALL RELATED COMPONENTS AND INFORMATION ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS WITHOUT ANY WARRANTIES OF ANY KIND, AND <%= data.site.name.upcase %> EXPRESSLY DISCLAIMS ANY AND ALL WARRANTIES, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, TITLE, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. YOU ACKNOWLEDGE THAT <%= data.site.name.upcase %> DOES NOT WARRANT THAT THE SERVICE WILL BE UNINTERRUPTED, TIMELY, SECURE, ERROR-FREE OR VIRUS-FREE, NOR DOES IT MAKE ANY WARRANTY AS TO THE RESULTS THAT MAY BE OBTAINED FROM USE OF THE SERVICES, AND NO INFORMATION, ADVICE OR SERVICES OBTAINED BY YOU FROM <%= data.site.name.upcase %> OR THROUGH THE SERVICE SHALL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THESE TERMS.</li>
          </ol>
        </li>

        <li>
          Links to Third Party Websites <br>
          <br>
          The Services may contain links to third-party websites or resources. We provide these links only as a convenience and are not responsible for the content, products or services on or available from those websites or resources or links displayed on such websites. You acknowledge sole responsibility for and assume all risk arising from, your use of any third-party websites or resources.
        </li>

       <li>
         Termination
         <ol>
           <li>These Terms will continue in full effect unless and until your account or these Terms are terminated as described herein. Service plans that are paid monthly will automatically renew for additional months, and Service plans that are paid annually will automatically renew for additional years. </li>
           <li>You have the right to deactivate your account at any time by sending us an email to <a href="mailto:support@livil.co">support@livil.co</a></li>
           <li>We reserve the right to deactivate and delete your account and terminate these Terms at any time for any reason, or no reason, with or without notice. Without limiting the foregoing, <%= data.site.name.upcase %> may, in its sole discretion, publish policies whereby we delete your account for prolonged inactivity. Upon any termination of these Terms, we will have no obligation to maintain or provide Your Data. If your account is deleted, we will delete or destroy all copies of Your Data in our possession or control, in a reasonably expedient way, unless legally prohibited. </li>
           <li>Please see our Privacy Policy for more information about the choices you have regarding Your Data.</li>
           <li>Upon any termination, discontinuation or cancellation of Services or your access thereto, the following provisions of these Terms will survive: Payment, Feedback; the first paragraph of Content Ownership, Responsibility and Removal regarding <%= data.site.name.upcase %>’s ownership of the Content and Services; Termination; Confidentiality; Warranty Disclaimers; Indemnity; Limitation of Liability; Dispute Resolution; and General Terms 6.b, 9, 11, 12, this sentence of Section 14, and 15 through 26.</li>
         </ol>
       </li>

        <li>
          Indemnity <br>
          <br>
          You will indemnify and hold harmless <%= data.site.name.upcase %> and its officers, directors, employee and agents, from and against any claims, disputes, demands, liabilities, damages, losses, and costs and expenses, including, without limitation, reasonable legal and accounting fees arising out of or in any way connected with (i) your access to or use of the Services or Content, (ii) your User Content, or (iii) your violation of these Terms.
        </li>

        <li>
          Limitation of Liability <br>
          <ol>
            <li>UNDER NO CIRCUMSTANCES AND UNDER NO LEGAL THEORY (WHETHER IN CONTRACT, TORT, OR OTHERWISE) SHALL <%= data.site.name.upcase %> BE LIABLE TO YOU OR ANY THIRD PARTY FOR (A) ANY INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, CONSEQUENTIAL OR PUNITIVE DAMAGES, INCLUDING LOST PROFITS, LOST SALES OR BUSINESS, LOST DATA, OR (B) FOR ANY AMOUNT IN THE AGGREGATE IN EXCESS OF THE FEES ACTUALLY PAID BY YOU IN THE SIX (6) MONTHS PRECEDING THE EVENT GIVING RISE TO YOUR CLAIM OR, IF NO FEES APPLY, FIVE HUNDRED ($500) U.S. DOLLARS, OR (C) ANY MATTER BEYOND OUR REASONABLE CONTROL. THE PROVISIONS OF THIS SECTION ALLOCATE THE RISKS UNDER THESE TERMS BETWEEN THE PARTIES, AND THE PARTIES HAVE RELIED ON THESE LIMITATIONS IN DETERMINING WHETHER TO ENTER INTO THESE TERMS.</li>
            <li>Some jurisdictions do not allow the exclusion of implied warranties or limitation of liability for incidental or consequential damages, which means that some of the above limitations may not apply to you. IN THESE JURISDICTIONS, <%= data.site.name.upcase %>’S LIABILITY WILL BE LIMITED TO THE GREATEST EXTENT PERMITTED BY LAW.</li>
          </ol>
        </li>

        <li>
          Dispute Resolution <br>
          <br>
          PLEASE READ THIS SECTION CAREFULLY – IT MAY SIGNIFICANTLY AFFECT YOUR LEGAL RIGHTS, INCLUDING YOUR RIGHT TO FILE A LAWSUIT IN COURT AND TO HAVE A JURY HEAR YOUR CLAIMS.<br> 
          <br>
          In order to expedite and control the cost of disputes, you and we agree that any legal or equitable claim arising out of or relating in any way to your use of the Services or these Terms, and the formation, validity, enforceability, scope, or applicability of these Terms, (referred to as a “Claim”) will be resolved as follows: <br>

          <ol>
            <li>
              Informal Resolution. <br> 
              <br>
              We will first try to resolve any Claim informally. Accordingly, neither of us may start a formal proceeding for at least 30 days after one of us notifies the other of a Claim in writing. Notice of the Claim will include a brief written statement that sets forth the name, address, and contact information of the party giving it, the facts giving rise to the dispute, claim, or controversy and the relief requested. You will send your notice by email to <a href="mailto:support@livil.co">support@livil.co</a> AND to the address listed directly below. We will send our notice to the email associated with your account. <br>
              <br>
              Frers Ltd<br>
              208 Mill Rd<br>
              Cambridge<br>
              CB1 3NF<br>
              United Kingdom
            </li>

            <li>
              Formal Resolution <br>
              <br>
              The provision of the Service and any dispute or claim arising out of the provision of the Service is governed by English law. Any dispute or claim arising out of or in connection with the Service will be subject to the non-exclusive jurisdiction of the courts of England and Wales.
            </li>
          </ol>
        </li>

        <li>
          STATUTE OF LIMITATIONS. <br>
          <br>
          Regardless of any statute or law to the contrary or the applicable dispute resolution process, an informal complaint pertaining to any Claim or cause of action arising out of or related to use of the Service or under these Terms must be filed with <%= data.site.name.upcase %> within one (1) year after such Claim or cause of action arose or be forever barred.
        </li>

        <li>
          NOTICE AND PROCEDURE FOR MAKING CLAIMS OF COPYRIGHT OR INTELLECTUAL PROPERTY INFRINGEMENT <br>
          <br>
          We respect the intellectual property of others, and we ask our users to do the same. We may, in appropriate circumstances and at its discretion, disable and/or terminate the accounts of users who may be repeat infringers. If you believe that your work has been copied in a way that constitutes copyright infringement, or your intellectual property rights have been otherwise violated, please provide us the following information: <br>
          <br>
          <ol>
            <li>an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright or other intellectual property interest;</li>
            <li>a description of the copyrighted work or other intellectual property that you claim has been infringed;</li>
            <li>a description of where the material that you claim is infringing is located on the site;</li>
            <li>your address, telephone number, and email address;</li>
            <li>a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law;</li>
            <li>a statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright or intellectual property owner or authorized to act on the copyright or intellectual property owner's behalf. </li>
            <li>
              Our Agent for Notice of claims of copyright or other intellectual property infringement can be reached as follows: <br>
              <br>
              Frers Ltd<br>
              208 Mill Rd<br>
              Cambridge<br>
              CB1 3NF<br>
              United Kingdom<br>
              <a href="mailto:support@livil.co">support@livil.co</a><br>
            </li>
          </ol>
        </li>

        <li>
          Enforceability. <br>
          <br>
          If any provision of these Terms is found to be unenforceable or invalid, that provision will be limited or eliminated to the minimum extent necessary so that these Terms will otherwise remain in full force and effect and enforceable.
        </li>

        <li>
          Integration, Modification, and Authority. <br>
          <br>
          These Terms are the complete and exclusive statement of the mutual understanding of the parties and supersedes and cancels all previous written and oral agreements, communications and other understandings relating to the subject matter of these Terms. All waivers and modifications to these Terms must be in a writing signed by both parties that expressly by its terms modifies or waives a provision of these Terms, except as otherwise provided herein. No agency, partnership, joint venture, or employment is created as a result of this Terms and you do not have any authority of any kind to bind <%= data.site.name.upcase %> in any respect whatsoever.
        </li>

        <li>
          Assignment.<br>
          <br>
          You may not assign these Terms without the prior written consent of <%= data.site.name.upcase %>, except, if you are a company or other legal entity, you may assign these Terms in connection with a merger, re-organization or acquisition of all or a substantial portion of your assets by another company, but only upon 30-days prior notice to <%= data.site.name.upcase %>. <%= data.site.name.upcase %> may assign or transfer these Terms , in whole or in part, without restriction. <br>
        </li>

        <li>
          Notices. <br>
          <br>
          Except as otherwise set forth herein, all notices under these Terms will be in writing and will be deemed to have been duly given when received, if personally delivered; when receipt is electronically confirmed, if transmitted by facsimile or email; the day after it is sent, if sent for next day delivery by recognized overnight delivery service; and upon receipt, if sent by certified or registered mail, return receipt requested.
        </li>

        <li>
          Choice of Law and Forum. <br>
          <br>
          The provision of the Services and any dispute or claim arising out of the provision of the Service is governed by English law. Any dispute or claim arising out of or in connection with the Services will be subject to the non-exclusive jurisdiction of the courts of England and Wales. 
        </li>

        <li>
          Waiver and Severability of Terms. <br>
          <br>
          The failure of <%= data.site.name.upcase %> to exercise or enforce any right or provision of these Terms shall not constitute a waiver of such right or provision.
        </li>

        <li>
          No Right of Survivorship and Non-Transferability. <br>
          <br>
          If you are a living person, you agree that your account is non-transferable and your rights to the content within your account terminate upon your death, however the content may be thereafter be available and accessible by Externals.<br>
        </li>

        <li>
          Government Users. <br>
          <br>
          Nothing herein makes <%= data.site.name.upcase %> a government contractor for any federal, state, local, or foreign government.
        </li>

        <li>
          Contact Information <br>
          <br>
          If you have any questions about these Terms or the Services, please contact <%= data.site.name.upcase %> at <a href="mailto:support@livil.co">support@livil.co</a>.
        </li>
      </ol>
    </div>
  </div>
</section>
