---
title: Product Overview 
---

<section class="section--full section--counter">
  <div class="container">
    <div class="row">
      <h2 class="card__title"><%=data.product.sections[0].title%></h2>
      <hr>

      <% data.product.sections[0].points.each do |point| %>
        <div class="row comparison-point mb-2">
          <span class="bullet-point text--brand">&mdash;</span> 
          <span class="comparison-body"><%=point %></span>
        </div>
      <% end %>
    </div>

    <div class="row">
      <% data.product.sections[0].cards.each do |card| %>
        <div class="col-4">
          <h3 class="gamma"><%=card.title%></h3>
          <hr>
          <% card.points.each do |point| %>
            <div class="row comparison-point mb-2">
              <span class="bullet-point text--brand">&mdash;</span> 
              <span class="comparison-body"><%=point %></span>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>
<!-- /section 1 -->

<section class="section--counter">
  <div class="container">
    <div class="row">
      <h2 class="card__title"><%=data.product.sections[1].title%></h2>
      <hr>

      <div class="row">
        <div class="col-8">
          <% data.product.sections[1].points.each do |point| %>
            <div class="row comparison-point mb-2">
              <span class="bullet-point text--brand">&mdash;</span> 
              <span class="comparison-body"><%=point %></span>
            </div>
          <% end %>
        </div>

        <div class="col-4 text--center">
          <img class="functionality-illustration" width="100%" src="<%= data.product.sections[1].illustration %>">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /section 2 -->

<section class="section--counter u-bg--white landing__users">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2><%=data.product.sections[2].title %></h2>
        <hr />
      </div>
    </div>

    <% data.product.sections[2].points.each do |point| %>
      <div class="row">
        <div class="bullet-point-large">
          <h3 class="text--brand bullet-point-heading"><%=point.title %></h3>
          <% point.subpoints.each do |subpoint| %>
            <span class="bullet-point-subheading"><%=subpoint %></span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>
<!-- /section 3 -->

<%= partial 'partials/footer_cta' %>

<%= javascript_include_tag "zoom.min.js" %>
