<!doctype html>
<html>
  <%= partial "partials/head" %>

  <body class="<%= page_classes %>">
    <%= partial "partials/header" %>

    <%= partial "partials/fixed-top" %>
    
    <div class="dflex-row-container guide">
      <%= partial('partials/guides/secondary_nav', locals: { items: data.guides.secondary_nav }) %>
      <%= partial('partials/guides/tertiary_nav') %>

      <%= yield %>
    </div>

    <%= partial 'partials/footer_cta' %>

    
    <%= partial "partials/footer" %>
    <%= partial "partials/footer-scripts" %>
    <script charset="utf-8">
      const ps = new PerfectScrollbar('.secondary-navigation .nav-scroller');
    </script>
  </body>
</html>
