<!doctype html>
<html>
  <%= partial "partials/head" %>

  <body class="<%= page_classes %>">
    <%= partial "partials/header" %>

    <div class="fixed-top">
      <img width="150" class="logo-name" src="/media/img/logo-large.png" />
      <div class="fixed-cta">
        <a class="" href="<%= data.site.login_path %>">Sign In</a>
        <a class="btn btn--brand" href="<%= data.site.register_path %>">Try it free</a>
      </div>
    </div>
    
    
    <div class="dflex-row-container guide">
      <%= partial('partials/guides/secondary_nav', locals: { items: data.guides.secondary_nav }) %>
      <%= partial('partials/guides/tertiary_nav') %>

      <%= yield %>
    </div>

    <%= partial 'partials/footer_cta' %>

    
    <%= partial "partials/footer" %>
    <%= partial "partials/footer-scripts" %>
  </body>
</html>
