<!doctype html>
<html>
  <%= partial "partials/head" %>

  <body class="<%= page_classes %>">
    <div class="developers-work-api">
      <%= partial "partials/header" %>

      <div class="dflex-row-container guide">
        <%= partial('partials/guides/secondary_nav', locals: { items: data.guides.secondary_nav }) %>
        <%= partial('partials/guides/tertiary_nav') %>

        <%= yield %>
      </div>

      <% #= partial "partials/footer" %>
    </div>

    <%= partial "partials/footer-scripts" %>
    <script charset="utf-8">
      (function() {
      let ps;

      function setupNavScroller() {
        if (document.body.clientWidth <= 580 && ps) {
          ps.destroy();
          ps = null;
        } else if (document.body.clientWidth > 580 && !ps) {
          ps = new PerfectScrollbar('.secondary-navigation .nav-scroller');
        }
      }

      document.addEventListener('resize', function() {
        setupNavScroller();   
      });

      setupNavScroller();
      })();
    </script>

  </body>
</html>
