<!doctype html>
<html>
  <%= partial "partials/head" %>

  <body class="<%= page_classes %>">
    <div class="developers-work-api">
      <%= partial "partials/header" %>

      <div class="dflex-row-container guide">
        <%= yield %>
      </div>

      <%= partial "partials/footer-scripts" %>
    </div>
  </body>
</html>
