<!doctype html>
<html>
  <%= partial "partials/head" %>

  <body class="<%= page_classes %>">
    <div class="developers-work-api">
      <%= partial "partials/header" %>

      <%= yield %>

      <%= partial "partials/footer-scripts" %>
    </div>
  </body>
</html>
