<footer class="footer">
  <div class="container">

    <div class="row u-hard--bottom">
      <div class="col-4">
        &copy; <%= data.site.name %> <%=Time.now.strftime "%Y"%>
      </div>

      <div class="col-4 u-text--center">
        &nbsp;
      </div>

      <div class="col-4 u-text--right">
        <a class="footer-nav__link" href="<%= data.site.marketing_url %>/terms">Terms of Service</a>
        <a class="footer-nav__link" href="<%= data.site.marketing_url %>/privacy">Privacy</a>
        <a class="footer-nav__link" href="<%= data.site.marketing_url %>/imprint">Imprint</a>
      </div>
      <div class="col-12 logos-tagline">
       <%= data.site.logos_tagline.sub('%year%', (Time.now.strftime "%Y")) %>
      </div>
    </div>

  </div>
</footer>
