---
layout: guides-layout
title: Guides | Create an Environment 
prerequisites:
  create-account: Create a Developer Account 
next_steps: 
  create-user: Create a User
---

<div class="body-content dflex--order-2">
  <section class="u-bg--grey-1">
    <div class="container">
      <h1>Creating an Environment</h1>
      <hr />

      <%= partial 'partials/guides/prerequisites' %>

      <p>Now that we have created an account, we can set up our first environment. </p>

      <div id="what-is-an-environment">
        <h3 class="guide--anchor" id="what-is-an-environment"><a href="#what-is-an-environment">What is an Environment?</a></h3>

        <p>An Environment is a wrapper around a set of API credentials. It contains the keys for any providers with which your application will interact.  </p>
        <p>Each account can have many environments. These can be used for different appilcations, or even for different stages for the same application. </p>
        <p>A common use case is to have 3 environments: <code>Test/Development</code>, <code>Staging</code> and <code>Production</code>.  </p>
        <p>The credentials for these are then added to your application's config for each stage, and in doing so avoids polluting your production environment while developing and testing.  </p>
      </div>

      <div id="creating-an-environment">
        <h3 class="guide--anchor"><a href="#creating-an-environment">Creating an Envionment</a></h3>

        <p>Once signed up and logged in, you will be presented with the 'Create Environment' screen.</p>

        <%= partial 'partials/guides/figure', locals: { src: "/media/img/guides/initial-create.png", alt: 'Initial environment creation', caption: 'Initial environment creation' } %>

        <p>Later you can create a new environment by selecting 'Add New Environment...' from the dropdown at the top of the screen. </p>

        <%= partial 'partials/guides/figure', locals: { src: "/media/img/guides/subsequent-create.png", alt: 'Subsequent environment creation', caption: 'Subsequent environment creation' } %>

        <p>The initial setup only requires the name of your environment. Provider configuration comes later.</p>

        <p>Once you have given the environment a name, click 'Create Environment'.</p>

        <%= partial 'partials/guides/figure', locals: { src: "/media/img/guides/environment-created.png", alt: 'Environment created', caption: 'The environment has been created' } %>

        <p>We are now presented with a warning. This details the availability of the private Key which grants full access to the environment.  </p>

        <p>This is not held on in our systems, and so should be stored in a secure location. </p>

        <% partial('partials/guides/info-panel', locals: { type: 'warning' }) do %>
          The private key does not exist anywhere on the Work API platform (neither accessible to the developer or Work-API staff) after navigating away from this screen. 
          <br><br>
          If this key is lost, the developer will no longer be able to create new user accounts, issue new access tokens. Any applications connected to the environment would need to be updated to use a new Work-API environment.
        <% end %>

        <p>If the key is lost or misplaced, it can not be recovered and a new environment will need to be created in order to manage your users. </p>

        <p>The private key is used to sign requests which allow users to create accounts, reauthorize accounts, and peform various admin-level operations on the environment. </p>

        <p>The corresponding public key is stored on our servers, and is available for download at any time should you wish to use it for validation. </p>

        <p>So we now save this to our local machine, and create backups as necessary. </p>

      </div>

      <div id="configuring-the-environment">
        <h3 class="guide--anchor"><a href="#configuring-the-environment">Configuring the Environment</a></h3>

        <p>Work API connects to the underlying APIs on behalf of the developer. In order to to this, credentials must be supplied.</p>

        <p>In this example, we will create a Gmail integration. First click 'Providers' in the sidebar and you are presented with an empty table. Click 'Add Provider'.</p>

        <%= partial 'partials/guides/figure', locals: { src: "/media/img/guides/new-provider.png", alt: 'New Provider form', caption: 'New Provider form' } %>

        <% partial('partials/guides/info-panel', locals: { type: 'note' }) do %>
          The 'Client ID' and 'Client Secret' are found in the 3rd party developer site. In the case of Gmail, they can be created in the <a href="https://console.developers.google.com/" target="_blank">Google Developer Console</a> under <strong>Credentials</strong> &gt; <strong>Oauth 2.0 Client IDs</strong>
        <% end %>

        <p>After hitting 'Save', your users will then be able to start adding integrations to their accounts.</p>

        <%= partial 'partials/guides/figure', locals: { src: "/media/img/guides/provider-created.png", alt: 'Provider list', caption: 'Provider list' } %>
      </div>

      <%= partial 'partials/guides/next-steps' %>
    </div>
  </section>
</div>
