---
title: Privacy Policy
---

<section class="policy">
  <div class="container">

    <div class="col-8 offset-2">
      <h2>Privacy Policy</h2>
      <hr>
      <p>
      <i>Last updated 24th April 2020</i>
      </p>
      <p class="text--grey-4" style="margin-bottom: 2rem;">
        This privacy policy is here to help you understand what information we collect at <%= data.site.name %>, how we use it, and what choices you have. When we talk about <%= data.site.name %> in this policy, we are talking about our website located at <a href="<%= data.site.url %>"><%= data.site.url %></a> and its subdomains (collectively, the “Site”), our API located at <a href="<%= data.site.api_url %>"><%= data.site.api_url %></a> (the “<strong>Platform</strong>”), and associated services related to your use of <%= data.site.name.upcase %> via the Dashboard <a href="<%= data.site.dashboard_url %>"><%= data.site.dashboard_url %></a> (the “<strong>Dashboard</strong>”), collectively called the “<strong>Services</strong>”. The services are provided by the company Frers Ltd.  
      </p>

      <ol>
        <li>
          Information we collect and receive <br>
          <br>
          We collect different kinds of information. Some of it is personally identifiable and some is non-identifying or aggregated. Here are the types of information we collect or receive:

          <ol>
            <li>
              Account and profile information.<br>
              <br>
              The only information we require to create your <%= data.site.name.upcase %> account is an email address and password. Optional information you can enter into your profile includes information such as your first and last name.
            </li>

            <li>
              Billing information.<br>
              <br>
              If you purchase a payable version of <%= data.site.name.upcase %>, our third party payment processors will collect and store your billing address and credit card information.
            </li>

            <li>
              Log data.<br>
              <br> 
              When you use <%= data.site.name.upcase %>, our servers automatically record information, including information that your browser sends whenever you visit a website or your mobile app sends when you’re using it. This log data may include your Internet Protocol address, the address of the web page you visited before coming to <%= data.site.name.upcase %>, your browser type and settings, the date and time of your request, information about your browser configuration and plug-ins, language preferences, and cookie data. Log data does not contain message content and is not routinely deleted.
            </li>

            <li>
              Device information.<br>
              <br> 
              In addition to log data, we may also collect information about the device you’re using <%= data.site.name.upcase %> on, including what type of device it is, what operating system you’re using, device settings, unique device identifiers, and crash data. Whether we collect some or all of this information often depends on what type of device you’re using and its settings.
            </li>

            <li>
              Geo-location information.<br>
              <br> 
              WiFi and IP addresses received from your browser or device may be used to determine approximate location.
            </li>

            <li>
              <%= data.site.name.upcase %> usage information.<br>
              <br>
              This is information about which people, features, content, and links you interact with within Livil and what integrations with related services you use.
            </li>

            <li>
              Integrations Information<br>
              <br>
              If you or your end users add an integration to your software via <%= data.site.name.upcase %>, we receive and process certain meta information on these integrations, such as the type, name or email address associated with that integration. 

              <ol>
                <li>We do not receive or store passwords for any of these integrations, however we have to store access tokens to facilitate the Services. </li>
                <li>If you or your end users add an integration, the third party provider of the integration may share certain information about your account with <%= data.site.name.upcase %>. </li>
                <li><%= data.site.name.upcase %> is not responsible for how users may use and collect data through integrations.</li>
                <li>An integration can be removed at any time. </li>
              </ol>
            </li>
          </ol>
        </li>

        <li>
          Categories of Personal Data

          <ol>
            <li>
              <%= data.site.name.upcase %> processes two broad categories of personal information (known collectively as (“<strong>Customer Data</strong>”)):
              <ol>
                <li>As a developer customer (or potential developer customer) of <%= data.site.name.upcase %>, you will need to provide us information to create an account and use the Services – we refer to this as “<strong>Customer Account Data.</strong>”</li>
                <li>As a developer customer, you may provide us with personal information of your end-users who use or interact with Your Application that you’ve built on <%= data.site.name.upcase %>’s Platform – we refer to this information as “<strong>Customer End-User Data.</strong>” </li>
              </ol>
            </li>

            <li>
              <%= data.site.name.upcase %> distinguishes between these categories of Customer Data because the direct relationship we have with you, our customer, is different than the indirect relationship we have with your end-users. If you are located in the European Economic Area, <%= data.site.name.upcase %> is the “controller” of your Customer Account Data and a “processor” of Customer End-User Data.
            </li>
          </ol>
        </li>

        <li>
          Processing Customer Account Data

          <ol>
            <li>
              We collect and process your Customer Account Data

              <ol>
                <li>When you visit a <%= data.site.name.upcase %> public-facing Website like work-api.com or make a request to receive information about <%= data.site.name.upcase %> or our products, like a <%= data.site.name.upcase %> white paper or a newsletter; </li>   
                <li>When you contact <%= data.site.name.upcase %>’s Sales Team or Customer Support Team; and </li>
                <li>When you sign up for a <%= data.site.name.upcase %> account and use our products and Services.</li>
              </ol>
            </li>

            <li>
              We use Customer Account Data to

              <ol>
                <li>Perform our contract with you; </li>    
                <li>
                  Pursue our legitimate interests to: 

                  <ol>
                    <li>understand who our customers and potential customers are and their interests in <%= data.site.name.upcase %>’s products and Services,</li>
                    <li>manage our relationship with you and other customers,</li>
                    <li>provide you with marketing materials,</li>
                    <li>perform research (including marketing research),</li>
                    <li>carry out core business operations such as accounting and filing taxes, and</li>
                    <li>help detect, prevent, or investigate security incidents, fraud and other abuse and/or misuse of our products and services;</li>
                  </ol>
                </li>

                <li>Comply with any legal obligations we may have; and</li>
                <li>Carry out other uses which you have consented to.</li>
              </ol>
            </li>

            <li>
              Your Rights Re Customer Account Data
              <ol>
                <li>We will keep your personal information only as long as it is necessary for the purposes outlined in 3.2. </li>
                <li>We will keep it until you either delete your account or have been inactive for more than 3 years.</li>
                <li>You have a right to a copy of the data (right to access personal data) and other basic rights in the field of data protection (see complete list of rights here: <a href="https://ec.europa.eu/info/law/law-topic/data-protection/reform/rights-citizens/my-rights_en">https://ec.europa.eu/info/law/law-topic/data-protection/reform/rights-citizens/my-rights_en</a>);</li>
                <li>You have a right to lodge a complaint with a Data Protection Authority (DPA), and you have a right to withdraw consent at any time</li>
              </ol>
            </li>
          </ol>
        </li>

        <li>
          Processing Customer End-User Data

          <ol>
            <li>For individuals located in the European Economic Area, when <%= data.site.name.upcase %> processes Customer End-User Data, it acts as a “processor.” <%= data.site.name.upcase %> will only process Customer End-User Data at the instruction of our customers (i.e., the “controller”). </li>
            <li>As a customer, your end-users’ personal information (“Customer End-User Data”) is processed on <%= data.site.name.upcase %>’s Platform as we fetch it from the integrations and pass it to the Customer application on demand.</li>
            <li><%= data.site.name.upcase %> can remove end-users integrations from the customer’s account. This will not remove any content kept in these accounts, but will only withdraw the access of the customer application to the end-user’s integrations. </li>
            <li>Customers are responsible for their interaction with Customer End-User Data.</li>
            <li>
              We use Customer End-User Account Data to
              <ol>
                <li>Perform our contract with you;</li>
                <li>
                  Pursue our legitimate interests to: 
                  <ol>
                    <li>help detect, prevent, or investigate security incidents, fraud and other abuse and/or misuse of our products and services;</li>
                  </ol>
                </li>
                <li>Resolve technical issues </li>
                <li>Comply with any legal obligations we may have; and</li>
                <li>Carry out other uses which you have consented to.</li>
              </ol>
            </li>
            <li>Customers are responsible for the Customer End-User Data.</li>              
            <li>Customers are required to inform their end users of how <%= data.site.name.upcase %> may process their data (“Customer End-User Data”) before using their accounts via the <%= data.site.name.upcase %>.</li>
          </ol>
        </li>

        <li>
          Customers are required to inform their end users of how <%= data.site.name.upcase %> may process their data (“Customer End-User Data”) before using their accounts via the <%= data.site.name.upcase %>.

          <ol>
            <li>We may transfer your Personal Data to countries other than the one in which you live. We align ourselves to the safeguards outlined by the Privacy Shield here (<a href="https://www.privacyshield.gov/welcome">https://www.privacyshield.gov/welcome</a>) if we transfer Personal Data originating from the European Union or Switzerland to other countries not deemed adequate under applicable data protection law.</li>
          </ol>
        </li>

        <li>
          Our Cookie Policy

          <ol>
            <li><%= data.site.name.upcase %> uses cookies, or similar technologies like single-pixel gifs and web beacons, to record log data. We use both session-based and persistent cookies. Cookies are small text files sent by us to your computer and from your computer to us, each time you visit our website. They are unique to your <%= data.site.name.upcase %> account or your browser. Session-based cookies last only while your browser is open and are automatically deleted when you close your browser. Persistent cookies last until you or your browser delete them or until they expire.</li>
            <li>Some cookies are associated with your <%= data.site.name.upcase %> account and personal information in order to remember that you are logged in and which teams you are logged into. Other cookies are not tied to your <%= data.site.name.upcase %> account but are unique and allow us to do site analytics and customization, among other similar things. If you access <%= data.site.name.upcase %> through your browser, you can manage your cookie settings there but if you disable all cookies you may not be able to use <%= data.site.name.upcase %>.</li>
            <li><%= data.site.name.upcase %> sets and accesses our own cookies on our company-owned domains. In addition, we use 3rd parties like Google Analytics for website analytics. You may opt-out of third party cookies from Google Analytics  on their websites. We do not currently recognize or respond to browser-initiated Do Not Track signals as there is no consistent industry standard for compliance.</li>
          </ol>
        </li>

        <li>
          Your choices <br>
          <br>
          When you use <%= data.site.name.upcase %>, you have control over a number of things with respect to your own privacy and choices about how your content is visible to others or not.

          <ol>
            <li><%= data.site.name.upcase %> provides you with various choices regarding your Customer Account Data. If you login to your <%= data.site.name.upcase %> account, you can use it the account portal to access, correct, delete Customer Account Data, and/or update your preferences. Please contact us for any other requests about your Customer Account Data you cannot make through these self-service tools.</li>
            <li>
              Closing Your Account and Deletion.<br>
              <br>
              To request closure or deletion of your <%= data.site.name.upcase %> account, you can contact Customer Support at <a href="mailto:support@livil.co">support@livil.co</a>. Within 60 days following your request, <%= data.site.name.upcase %> will either delete your Customer Account Data or de-identify it such that it can no longer be used to identify you. You should know that closure and/or deletion of your <%= data.site.name.upcase %> account will result in you permanently losing access to your account and Customer Data in the account. Please note that certain information associated with your account may nonetheless remain on <%= data.site.name.upcase %> servers in a de-identified or aggregated form that does not identify you or your end-users. Similarly, Customer Account Data, including personal information, we are required to maintain for legal purposes or for necessary business operations will be retained after account closure until no longer needed.
            </li>
            <li>
              Promotional Communications. <br>
              <br>
              You can choose not to receive promotional emails from <%= data.site.name.upcase %> by following the unsubscribe/opt-out instructions in those emails. You can also opt-out by contacting Customer Support. Please note that even if you opt out of promotional communications, we may still send you non-promotional messages related to things like updates to our Terms of Service or Privacy Policy, security alerts, and other notices relating to your access to or use of our products and Services.
            </li>
            <li>
              Cookies and Tracking Technologies.<br> 
              <br>
              You may stop or restrict the placement of cookies and other similar technologies on your device or remove them by adjusting your preferences as your browser or device permits. The online advertising industry also provides websites from which you may opt out of receiving targeted ads from data partners and other advertising partners that participate in self-regulatory programs. You can access these, and also learn more about targeted advertising and consumer choice and privacy, at 
              <a href="http://www.networkadvertising.org/managing/opt_out.asp">www.networkadvertising.org/managing/opt_out.asp</a>,<br>
              <a href="http://www.youronlinechoices.eu/">http://www.youronlinechoices.eu/</a>,
              <a href="https://youradchoices.ca/choices/">https://youradchoices.ca/choices/</a>,
              and <a href="https://www.aboutads.info/choices">https://www.aboutads.info/choices</a>. <br>
              <br>
              Alternatively, for some devices you may use your device’s platform controls in your settings to exercise choice.<br>
              <br>
              Please note you must separately opt out in each browser and on each device.
            </li>
            <li>
              “Do Not Track”. <br>
              <br>
              Do Not Track (“<strong>DNT</strong>”) is a privacy preference that users can set in certain web browsers. Please note that we do not respond to or honor DNT signals or similar mechanisms transmitted by web browsers.
            </li>
            <li>
              Other Choices About Your Customer Account Data. <br>
              <br>
              In addition, you can exercise other choices about your Customer Account Data (e.g., accessing it, correcting or amending it, deleting it, restricting or objecting to its use, porting it, or withdrawing consent) by contacting <a href="mailto:support@livil.co">support@livil.co</a>. We will process such requests in accordance with applicable laws. To protect your privacy, <%= data.site.name.upcase %> will take steps to verify your identity before fulfilling your request.
            </li>
            <li>
              If you are an end-user of an application built on <%= data.site.name.upcase %> Platform and not a direct customer of <%= data.site.name.upcase %>, you should direct any requests relating to your personal information to the relevant application provider in accordance with the application provider’s own privacy policy.
            </li>
          </ol>
        </li>

        <li>
          Sharing and Disclosure <br>
          <br>
          There are times when communications and related content and other user information may be shared by <%= data.site.name.upcase %>. This section discusses only how <%= data.site.name.upcase %> may share customer information. Organizations that use <%= data.site.name.upcase %> may have their own policies for sharing and disclosure of information they can access through <%= data.site.name.upcase %>. 

          <ol>
            <li> <%= data.site.name.upcase %> may share information
              <ol>
                <li>With consent, to comply with legal process, or to protect <%= data.site.name.upcase %> and our users. When we have your consent or if we believe that disclosure is reasonably necessary to comply with a law, regulation or legal request; to protect the safety, rights, or property of the public, any person, or <%= data.site.name.upcase %>; or to detect, prevent, or otherwise address fraud, security or technical issues. If we receive a law enforcement or other third party request for information we will provide prior notice to the subject of the request where we are legally permitted to do so.</li>
                <li>We do not share your personal information with third-party service providers or agents.</li>
                <li>
                  Integrations.<br>
                  <br>
                  If you add an integration, <%= data.site.name.upcase %> may share information about you or your team with the provider of the integration. <%= data.site.name.upcase %> is not responsible for how the provider of the integration may collect and use your data.
                </li> 
              </ol>
            </li>

            <li>
              About you with your organization.
              <ol>
                <li>If we engage in a merger, acquisition, bankruptcy, dissolution, reorganization, sale of some or all of <%= data.site.name.upcase %>'s assets financing, acquisition of all or a portion of our business, or similar transaction or proceeding that involves the transfer of the information described in this Privacy Policy.</li>
              </ol>
            </li>
          </ol>
        </li>

        <li>
          Security <br>
          <br>
          <%= data.site.name.upcase %> takes reasonable steps to protect information you provide to us as part of your use of the <%= data.site.name.upcase %> service from loss, misuse, and unauthorized access or disclosure. These steps take into account the sensitivity of the information we collect, process and store and the current state of technology. We follow generally accepted standards to protect the personal data submitted to us, both during transmission and once we receive it. However, no electronic or email transmission or digital storage mechanism is ever fully secure or error free.
        </li>

        <li>
          Children’s information <br>
          <br>
          <%= data.site.name.upcase %> is not directed to people under 18. If you learn that a minor child has provided us with personal information without your consent, please contact us.
        </li>

        <li>
          Changes to this Privacy Policy <br>
          <br>
          We may change this policy from time to time, and if we do we’ll post any changes on this page. If you continue to use <%= data.site.name.upcase %> after those changes are in effect, you agree to the revised policy. If the changes are material, we may provide more prominent notice or seek your consent to the new policy.
        </li>

        <li>
          Contacting <%= data.site.name.upcase %> <br>
          <br>
          Please also feel free to contact us if you have any questions about <%= data.site.name.upcase %>’s Privacy Policy or practices. You may contact us at <a href="mailto:support@livil.co">support@livil.co</a> or at our mailing address below:<br>
          <br>
          Your Data Protection Officer (DPO) is contactable via email to <a href="mailto:support@livil.co">support@livil.co</a>.<br>
          <br>
          Frers Ltd<br>
          208 Mill Rd<br>
          Cambridge<br>
          CB1 3NF<br>
          United Kingdom<br>
          <br>
          Companies House: 08744847<br>
          <br>
          E-mail: <a href="mailto:info@livil.co">info@livil.co</a><br>
          Web: <a href="https://www.work-api.com">www.work-api.com</a><br>
        </li>
      </ol>
    </div>
  </div>
</section>
