<nav class="secondary-navigation dflex--order-1 py-1">
  <div class="nav-scroller">
    <div class="navigation-inner--sticky">
      <% items.each_pair do |label, link_or_subnav| %>
        <ul>
          <li>
            <% if link_or_subnav.is_a?(String) %>
              <a class="<%= 'active' if active?(link_or_subnav) %>" href="<%= link_or_subnav %>"><%= label %></a>
            <% elsif link_or_subnav.is_a?(Hash) %>
              <%= label %>
              <ul>
                <% link_or_subnav.each_pair do |subnav_label, link| %>
                  <li>
                    <a class="<%= 'active' if active?(link) %>" href="<%= link %>"><%= subnav_label %></a>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </li>
        </ul>
        <hr>
      <% end %>
    </div>
  </div>
</nav>
