---
title: Home 
---

<section class="u-bg--white"  id="home_003">
  <div class="container">

    <div class="row">
      <h2><%=data.home.sections[1].title%></h2>
      <hr>
    </div>

    <div class="row">
      <% data.home.sections[1].columns.each_with_index do |column, index| %>
        <div class="col-5">
          <div class="row">
            <% if index.zero? %>
              <h3 class="text--brand"><%=column.title%></h3>
            <% else %>
              <h3 class="text--brand" style="position: relative">
                <%=column.title%> 
                <img style="position: absolute; top: -8px; right: 0;" width="40" src="/media/img/logo-icon.png">
              </h3>
            <% end %>
          </div>

          <% column.points.each_with_index do |point, point_index| %>
            <div class="row comparison-point point-<%= point_index %>">
              <% if index == 1 %>
                <span class="col-divider"></span>
              <% end %>
              <span class="bullet-point text--brand">&mdash;</span> 
              <span class="comparison-body"><%=point %></span>
            </div>
          <% end %>

          <h4 class="text--brand">&equals; <%=column.conclusion %></h4>
        </div>
        <% if index == 0 %>
          <div class="col-1"><img width="100%" height="10" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="></div>
        <% end %>
      <% end %>
    </div>

    <div class="row">
      <div class="col-11">
        <div class="text--center">
          <a class="btn btn--brand btn--large text--heavy" href="<%= data.site.register_path %>"><%=data.site.register_btn_short%></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /section 1 -->

<%= javascript_include_tag "zoom.min.js" %>
